/* Link colors */
a {
    color: blue;
}

a:hover {
    color: brown;
}

/* Container div */
.container {
    background-color: white;
}

/* Logo div */
.logo {
    width: 351px; 
    height: 113px;
    margin: 0 auto;
}

/* Google search div */
.google-search {
    width: 90%;
    margin: 0 auto 5px auto;
    text-align: center;
    background-color: #EEEEEE;
    padding: 5px 0 5px 0;
}

/* Bottom div */
.bottom-info {
    width: 90%;
    height: 85px;
    margin: 0 auto 5px auto;
    /* background-color: greenyellow; */
}

/* Special search box */
.special-search-container {
    background-color: #7EE5DA;
    width: 37%;
    height: 100%;
    margin: 0 0.25% 0 0;
    float: left;
} 

.special-search {
    background-color: #7EE5DA;
    width: 100%;
    height: auto;
    /* float: left; */
    
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}   

/* Google info box */
.google-info-container {
    width: 17.5%;
    height: 100%;
    background-color: #70CCC2;
    text-align: center;
    float:left;
}

.google-info {
    width: 100%;
    height: auto;
    background-color: #70CCC2;
    text-align: center;
    /* float:left; */
    margin: 0 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
}

/* Subscription box */
.subscription-container {
    width: 45%;
    height: 100%;
    background-color: #62B3AA;
    float: right;
    margin: 0 0 0 0.25%;
}

.subscription {
    width: 100%;
    height: auto;
    background-color: #62B3AA;
    text-align: center;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Footer information */
.footer {
    text-align: center;
}

.clear {
    clear: both;
}